*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-padding{
    display: inline-flex;
    margin: 2em 0;
    width: 100em;
    justify-content: center;
}

.toolbar{
    justify-content: space-around;
    margin: auto 2em;
}

.toolbar p{
    border: .25em solid black;
    color: darkorange;
    font-size: 1.4em;
    text-align: center;
    padding: 1em;
}
.toolbar .navbar{
    margin: 3em 0 0 0;
}

.toolbar .navbar a{
    padding: 0 1em;
    color: black;
    text-decoration: none;
}

.toolbar .navbar a:hover{
    border-bottom: .25em solid #E16237;
    padding-bottom: .5em;
}

.title-section{
    display: inline-flex;
    width: 100%;
}

.title-section img{
    width: 25em;
    height: 25em;
}

.title-summary{
    text-align: left;
    margin: 20em 0 0 -5em;
}

.title-summary h1, h2{
    margin: 0 auto;
}

.title-summary h1{
    color: darkorange;
    font-size: 4em;
    white-space: nowrap;
}

.background-theme{
    background-color: #F6F6F6;
}

.resume-opening{
    width: 80%;
    padding-top: 5em;
    padding-bottom: 5em;
    margin: 0 0 0 10em;
}

.resume-opening .left-half{
     text-align: right;
     overflow: hidden;
     margin: 0 2em 0 0;
     width: 40%;
}

.resume-opening .left-half h1, h2{
    width: 100%;
    margin: 0 0;

}

.resume-opening .left-half h1{
    font-size: 4.5em;
    opacity: 0.6;

}

.resume-opening .left-half  h2{
    opacity: 0.4;

}

.resume-opening .right-half{
    background-color: white;
    border: .2em solid black;   
    padding: 1em;
    margin: 0 auto;
    width: 50%;
    height: auto;
    text-align: left;
    font-size: 1.2em;
    opacity: 0.8;
    font-size: 1.7em;
}

.resume-description{
    margin: 0 0 0 15em;
    display: inline-block;
}

.left{
    margin: 0 0;
    display: inline-block;
    width: 40%;
    height: auto;
    padding-bottom: 1em;
}

.right{
    margin: 0 0;
     display: inline-block;
     width: 40%;
     height: auto;
     padding-bottom: 1em;
}

.top-text{
    border-bottom: .09em solid black;
    left: -1.5em;
    padding-right: 13.5em;
}

.bottom-text{
    min-width: 80%;
    font-size: 1.5em;
}

.resume-description .img-placeholder{
    width: 1em;
    height: auto;
    display: inline-block;
    top: -2em;
    left: 30em;
    padding: 1em 1em 1em 1em;
    background-image: url("resources/images/linkgray.svg");
    background-repeat: no-repeat;
}

.resume-description .img-placeholder:hover{
    width: 1em;
    height: auto;
    background-image: url("resources/images/linkdarkgray.svg");
    background-repeat: no-repeat;
}

.resume-icons{
    justify-content: initial;
    height: auto;
    padding: 0 auto;
}

.icon{
    width: 80%;
}

.icon img{
    width: 20em;
    height: auto;
}

input{
    width: 75em;
}

.contact-me{
    margin: 2em 2em auto auto;
    position: inherit;
    padding: 0 0 0 15em;
}

.contact-me input{
    width: 60em;
    height: 3em;
    margin: .5em;
}

.contact-me .bottom-input{
    height: 20em;
}

.contact-me .text{
    display: inline-block;
}

.contact-me .text h1{
    display: inline-block;
    margin: 0 0;
    right: 5em;
    opacity: 0.8;
}

.contact-me .text h2{
    display: inline-block;
    margin: 0 0;
    text-align: right;
    width: 50%;
    left: 3em;
    opacity: 0.4;
}

.contact-me p{
    padding: 0 0 0 21.5em;
}

.contact-me button{
     color: white;
     background-color: #E16237;
     border: none;
     border-radius: 0.785em;
     width: 10em;
     height: 5em;
}

footer{
     margin: 2em auto 2em auto;
     border-top: .2em solid black;
     width: 60%;

}

footer img{
     display: inline-block;
     width: 5%;
     height: auto;
     margin: 0 auto;
}

footer h2{
     display: inline-block;
     margin: 0 0 -2em 0;
     top: -1em;
     width: auto;
     padding: 0 1em 0 1em;
}

footer .left-image{
    margin: 0 0 0 auto;
}
