@import "variables";
@import "utilities";

.main-padding{

}

.main-font{
    font-family: Helvetica, Arial, sans-serif;
}

.background-img{

}

/*
[class*="img-"]{

}
*/

.intro-container{
    .add-border{
        @include add_border();
    }

    span{
        @include text_color($dark_orange);
    }

    .hover_underline:hover {
        @include underline(.2em, 0em, $dark_orange);
    }
 
    .bottom-intro{
        .intro-image{
            width: 30em;
            height: 30em;
            $img_url: "resources/images/meme.jpg";
            @include background_image($img_url, contain);
        }

        .btm-text-top{
            @include text_size(3em);
            @include text_color($dark_orange);
        }

        .btm-text-btm{
            @include text_size(1.7em);
        }
    }
}

.resume-summary{
    @include background_color($off_white);
    height: 25em;
    .summary-overview{
        @include text_alignment(right);
        h1{
            @include text_size(4em);
            @include set_opacity(.5);
        }
        h2{
            @include text_size(1.7em);
            @include set_opacity(.8);
        }
    }

    .summary-description{
        @include background_color($white);
        p{
            @include text_size(1.5em);
        }
    }

    .add-border{
        @include add_border(.2em, 1.5em);
    }
}

.resume-description{
    .left-section{
        span{
        }
        .inline-image{
            width: 2em;
            height: 2em;
            $img_url: "resources/images/linkgray.svg";
            @include background_image($img_url, contain);
        }
    }

    .right-section{
        span{
        }
        .inline-image{
            width: 2em;
            height: 2em;
            $img_url: "resources/images/linkgray.svg";
            @include background_image($img_url, contain);
        }
    }

    .inline-image:hover{
        $img_url: "resources/images/linkdarkgray.svg";
        @include background_image($img_url, contain);
    }
    
    .add-underline{
        @include underline(.12em, .35em);
    }
}

.resume-work{
    img{
        width: 20em;
        height: 20em;
    }

    .row{
        .overlay{
            @include text_fade_overlay;
        }

        div:hover{
            opacity: 1;
        }
    }
    
}

.resume-contact{
    h1{
        @include text_size(4em);
    }

    h2{
        @include text_alignment(right);
        @include set_opacity(0.8);
    }
    form{
        margin-left: 26em;
        .text-box{
            width: 40em;
            height: 3em;
            background-color: #F6F6F6;
            margin: .5em 0;
        }

        .text-bottom{
            width: 40em;
            height: 15em;
        }   
    }

    .btn-default{
        @include background_color($dark_orange);
        @include text_color($white);
        @include text_alignment(center);
        width: 7em;
        margin-left: 45.9em;
        @include clear_border;
    }

    
}

.resume-footer{
    width: 40em;
    @include top_line(.1em, .75em);

}