*{
    margin: auto 3em;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.toolbar p{
    border: .25em solid black;
    width: 12em;
    height: auto;
    text-align: center;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 6em;
}
.title-section img{
    width: 15em;
    height: auto;
}

.title-summary{
    top: -10em;
    text-align: left;
}

.title-summary h1{
    color: orange;
    font-size: 4em;
    white-space: nowrap;
}

.title-summary h2{
     left: 6em;
}

.resume-opening{
    background-color: #F6F6F6;
    margin: 0 0 auto auto;
    padding-top: 5em;
    padding-bottom: 5em;
}

.resume-opening .left-half{
     display: inline-block;
     text-align: right;
}

.resume-opening .right-half{
     display: inline-block;
    background-color: white;
    border: .2em solid black;
    padding: 1em;
    margin: 0 auto;
    width: 30em;
    height: auto;
    text-align: left;
    font-size: 1.2em;
}

.resume-description{
     margin: 0 0 auto auto;
}

.left{
     display: inline-block;
     width: 40%;
     height: auto;
     padding-bottom: 1em;
}

.right{
     display: inline-block;
     width: 40%;
     height: auto;
     padding-bottom: 1em;
}

.top-text{
    border-bottom: 1px solid black;
    left: -1.5em;
    padding-right: 18em;
}

.bottom-text{
     font-size: 1.5em;
}

.resume-description img{
     width: 5%;
     height: auto;
     display: inline-block;
     float: right;
     top: -2em;
     left: 8em;
}

.resume-description .overlay{
     

}

.resume-icons{
     margin: 0 0 auto auto;
     padding: 0 auto;
}

.icon{
     margin: 0 0 auto auto;
     display: inline-block;
}

.resume-icons .overlay{
     display: inline-block;
     opacity: 0;
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background-color: white;
}

.icon:hover .overlay{
     opacity: 1;
}

.overlay .text{
     top: 50%;
     bottom: 50%;
     position: absolute;
}

.icon img{
    width: 300px;
    height: 200px;
}

input{
    width: 75em;
}

.contact-me button{
     color: white;
     background-color: #E16237;
     border: none;
}

footer{
     margin: 0 0 auto auto;
     border-top: .2em solid black;

}

footer img{
     display: inline-block;
     width: 5%;
     height: auto;
}

footer h2{
     display: inline-block;
     margin-bottom: 2em;
     top: -1em;
}
