@import "utilities/variables";
@import "utilities/utilities";
@import "utilities/utilities_basic_sizing";
@import "utilities/utilities_text_utilities";
@import "utilities/utilities_basic_decoration";
@import "utilities/utilities_basic_effects";
/*
body{
    background: linear-gradient(-45deg, $white, $off_white, $grey_white);
	background-size: 400% 400%;
	-webkit-animation: Gradient 5s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
	animation: Gradient 5s ease infinite;
}
*/
.main-padding{

}

.main-font{
    font-family: Helvetica, Arial, sans-serif;
}

.background-img{

}

/*
[class*="img-"]{

}
*/

.intro-container{
    .add-border{
        @include add_border();
    }

    span{
        @include text_color($dark_orange);
    }

    .hover_underline:hover {
        @include underline(.2em, 0em, $dark_orange);
    }
 
    .bottom-intro{
        .intro-image{
            @include adjust_width_height(30em, 30em);
            $img_url: "../images/meme.jpg";
            @include background_image($img_url, contain);
        }

        .btm-text{
            top: 23em;
            left: -15em;
            height: auto;
            @include no_word_wrap;
        }

        .btm-text-top{
            @include text_size(5em);
            @include text_color($dark_orange);
        }

        .btm-text-btm{
            @include text_size(1.7em);
        }
    }
}

.resume-summary{
    @include background_color($off_white);
    height: 25em;
    .summary-overview{
        @include text_alignment(right);
        h1{
            @include text_size(4em);
            @include set_opacity(.5);
        }
        h2{
            @include text_size(1.7em);
            @include set_opacity(.8);
        }
    }

    .summary-description{
        @include background_color($white);
        p{
            @include text_size(1.5em);
        }
    }

    .add-border{
        @include add_border(.2em, 3.2em);
    }
}

.resume-description{
    .left-section{
        span{
        }
        .inline-image{
            @include adjust_width_height(2em, 2em);
            $img_url: "../images/linkgray.svg";
            @include background_image($img_url, contain);
        }
    }

    .right-section{
        span{
        }
        .inline-image{
            @include adjust_width_height(2em, 2em);
            $img_url: "../images/linkgray.svg";
            @include background_image($img_url, contain);
        }
    }

    .inline-image:hover{
        $img_url: "../images/linkdarkgray.svg";
        @include background_image($img_url, contain);
    }
    
    .add-underline{
        @include underline(.12em, .35em);
    }
}

.resume-work{
    img{
        @include adjust_width_height(100%, 20em);
    }

    .row{
        .overlay{
            @include text_fade_overlay;
        }

        div:hover{
            opacity: 1;
        }
    }
    
}

.resume-contact{
    h1{
        @include text_size(4em);
    }

    h2{
        @include text_alignment(right);
        @include set_opacity(0.8);
    }
    form{
        margin-left: 26em;
        .text-box{
            @include adjust_width_height(40.2em, 3em);
            background-color: #F6F6F6;
            margin: .5em 0;
        }

        .text-bottom{
            @include adjust_width_height(40.2em, 15em);
        }   
    }

    .btn-default{
        @include background_color($dark_orange);
        @include text_color($white);
        @include text_alignment(center);
        width: 7em;
        @include clear_border;
    }

    
}

.resume-footer{
    width: 75em;
    height: 5em;   
    @include top_line(.2em, .75em);
    h2{
        @include no_word_wrap;
    }

}